header {
    position: fixed;
    width: 100%;
    height: 80px;
    transition: background-color 0.5s ease;
    z-index: 10;

    &.active {
        background-color: #21054d; /* 変更したい背景色を指定 */
        height: 60px;
        transition: .1s ease;
      }
}
.header-nonidex {
    display: none;

    &:active {
        display: block;
    }
}
.header-nav {
    display: none;
}
.header-logo {
    padding: 15px 0 0 20px;
    width: 140px;

    &.active {
        padding-top: 10px;
        transition: .1s ease;
      }
}
.header-nav_nemu li{
    padding-bottom: 20px;
    text-align: center;

    a {
        color: #fff;
        font-size: 1.6rem;
      }
}
.header-btn {
    position: fixed;
    right: 0;
    top: 0;
    width: 75px;
    height: 75px;
    color: black;
    z-index: 999;
   
    &.active {
        height:60px;
        transition: .1s ease;
      }
     span {
        display: block;
        position: relative;
        top: 0;
        margin: 0 auto;
        width: 30px;
        height: 3px;
        background-color: #fff;
        transition: .3s ease;
        border-radius: 50px;

        &::before, &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            transition: all .3s;
            background-color: inherit;
            border-radius: 50px;
        }
        &::before {
            top: -7px;
        }
        &::after {
            top: 7px;
        }
     }
}

    body.open .header-btn span {
        width: 30px;
        background-color: transparent;

        &::before, &::after {
            top:0;
            background-color: #fff;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
    .header-nav_nemu {
        display: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(-50deg, #19074A 0%, #642390 80%);
        font-size: 20px;
        font-weight: 900;
        color: #fff;
        opacity: 0;
      visibility: hidden;
        transition: opacity 0.5s ease, visibility 0s linear 0.5s;
    
        ul li a {
            color:#fff;
            position: relative;
    
            &::before{
                content: "";
                position: absolute;
                 left: 0;
                bottom: -6px;
                width: 100%;
                height: 1px;
                background: #fff;
                transform: scale(0, 1);
                transform-origin: left;
                transition: 0.4s;
            }
            &:hover:before {
                transform: scale(1);
            }
            }
        }
    body.open .header-nav_nemu {
        opacity: 1;
      visibility: visible;
      transition: .3s ease;
    }   
    
    //*PC幅メディアクエリ*//
@media screen and (min-width:768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
}
.header-logo {
    width: 160px;

    &.active {
        padding-top: 0px;
        transition: .1s ease;
      }
}
.header-nav_nemu {
    display: none;
}
.header-nav {
    display: block;
    width: auto;
    height: auto;
}
    .header-list {
        display: flex;

        li {
            padding: 30px 30px 0 0;

            &.active {
                padding-top: 15px;
                transition: .1s ease;
              }
              a {
                color: #fff;
              }
        }
    }
    .header-btn {
        display: none;
    }
}