@charset "UTF-8";
header {
  position: fixed;
  width: 100%;
  height: 80px;
  transition: background-color 0.5s ease;
  z-index: 10;
}
header.active {
  background-color: #21054d; /* 変更したい背景色を指定 */
  height: 60px;
  transition: 0.1s ease;
}

.header-nonidex {
  display: none;
}
.header-nonidex:active {
  display: block;
}

.header-nav {
  display: none;
}

.header-logo {
  padding: 15px 0 0 20px;
  width: 140px;
}
.header-logo.active {
  padding-top: 10px;
  transition: 0.1s ease;
}

.header-nav_nemu li {
  padding-bottom: 20px;
  text-align: center;
}
.header-nav_nemu li a {
  color: #fff;
  font-size: 1.6rem;
}

.header-btn {
  position: fixed;
  right: 0;
  top: 0;
  width: 75px;
  height: 75px;
  color: black;
  z-index: 999;
}
.header-btn.active {
  height: 60px;
  transition: 0.1s ease;
}
.header-btn span {
  display: block;
  position: relative;
  top: 0;
  margin: 0 auto;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: 0.3s ease;
  border-radius: 50px;
}
.header-btn span::before, .header-btn span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  transition: all 0.3s;
  background-color: inherit;
  border-radius: 50px;
}
.header-btn span::before {
  top: -7px;
}
.header-btn span::after {
  top: 7px;
}

body.open .header-btn span {
  width: 30px;
  background-color: transparent;
}
body.open .header-btn span::before, body.open .header-btn span::after {
  top: 0;
  background-color: #fff;
}
body.open .header-btn span::before {
  transform: rotate(45deg);
}
body.open .header-btn span::after {
  transform: rotate(-45deg);
}

.header-nav_nemu {
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-50deg, #19074A 0%, #642390 80%);
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}
.header-nav_nemu ul li a {
  color: #fff;
  position: relative;
}
.header-nav_nemu ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left;
  transition: 0.4s;
}
.header-nav_nemu ul li a:hover:before {
  transform: scale(1);
}

body.open .header-nav_nemu {
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-logo {
    width: 160px;
  }
  .header-logo.active {
    padding-top: 0px;
    transition: 0.1s ease;
  }
  .header-nav_nemu {
    display: none;
  }
  .header-nav {
    display: block;
    width: auto;
    height: auto;
  }
  .header-list {
    display: flex;
  }
  .header-list li {
    padding: 30px 30px 0 0;
  }
  .header-list li.active {
    padding-top: 15px;
    transition: 0.1s ease;
  }
  .header-list li a {
    color: #fff;
  }
  .header-btn {
    display: none;
  }
}/*# sourceMappingURL=header.css.map */