
.big-bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin-bottom: 120px;
}
.main {
  padding: 50px 15px 0 15px;
}
h2 {
 color: #fff;
 font-size: 40px;
 line-height: 1.1;
 text-align: left;
}
.main-subtitle {
    margin-top: 30px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-align: left;
}
.main-contactbtn {
    margin-top: 30px;
    text-align: left;

  a {
    position: relative;
    display: inline-block;
    border: #fff 1px solid;
    border-radius: 50px;
    color: #fff;
    padding: 15px 70px;
    letter-spacing: 0.1rem;

  &::after {
    content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px; /* 要素の右からの距離 */
  width: 0;
  height: 0;
  border-radius: 2px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid #fff;
  transition: all 0.3s ease 0s;
  }
  &:hover:after {
    transform: translateX(0.1875em);
}
}
}
.main-scroll span{
    display: flex;
    position: absolute;
    bottom: 90px;
    right: 20px;
    /*テキストの形状*/
	color: #fff;
  font-size: 1.1rem;
	writing-mode: vertical-rl;
  font-weight: 400;
  letter-spacing: 0.25rem;

  &::before{
    content: "";
      /*描画位置*/
    position: absolute;
    bottom: 0px;
      /*線の形状*/
    width: 1px;
    height: 50px;
    background: #fff;
      /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove 1.8s ease-in-out infinite;
    opacity:0;
    margin: 53px 12px 0 0;
  }
    @keyframes pathmove{
      10%{
        height:0;
        top:0;
        opacity: 0;
      }
      50%{
        height:30px;
        opacity: 1;
      }
      100%{
        height:0;
        top:80px;
        opacity: 0;
      }
  }
}
//*セクションニュース*//
.index-news{
  margin: 0 auto 120px auto;
}

.index-news_info {
  margin-top: 20px;

    ul li {
    margin-top: 30px;

  time {
    font-weight: 400;
    font-size: 1.3rem;
  }
  span {
    display: inline-block;
    width: 80px;
    background-color: #e8e8e8;
    padding: 3px 10px;
    border-radius: 50px;
    font-size: 1.3rem;
    text-align: center;
  }
  p {
    margin-top: 10px;
    font-size: 1.3rem;
  
   a {
    color: #000;
    font-weight: 400;
  }
}
}
}
//*セクションサービス*//
.index-sv_list {
  text-align: center;
  margin-top: 20px;

  ul li {
    margin-top: 30px;
  }
}
.index-sv_text {
  margin-top: 15px;

  span {
    font-size: 1.8rem;
  }
  p {
    font-weight: 400;
    text-align: left;
  }
}
.index-sv_btn {
  margin-top: 30px;
  text-align: center;

a {
  position: relative;
  display: inline-block;
  background: linear-gradient(-50deg, #3b0355 0%, #c104eb 80%);
border-radius: 50px;
  color: #fff;
padding: 15px 70px;
letter-spacing: 0.1rem;

&::after {
  content: "";
margin: auto;
position: absolute;
top: 0;
bottom: 0;
right: 20px; /* 要素の右からの距離 */
width: 0;
height: 0;
border-radius: 2px;
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;
border-left: 8px solid #fff;
transition: all 0.3s ease 0s;
}
&:hover:after {
  transform: translateX(0.1875em);
}
}
}
//*セクションワークススライダー*//
.slider {
  position:relative;
}
.slider-item01 {
  background: url(../img/works/smoothiesta.jpg);
}
.slider-item02 {
  background: url(../img/works/lamina.jpg);
}
.slider-item03 {
  background: url(../img/works/web-conference.jpg);
}
.slider-img {
  max-width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height: 500px;
  background-repeat: no-repeat;/*背景画像をリピートしない*/
  background-position: center;/*背景画像の位置を中央に*/
  background-size: contain;
}
/*矢印の設定*/

.slick-prev, 
.slick-next {
    position: absolute;
	z-index: 3;
    top: 50%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 4px solid #391e88;/*矢印の色*/
    border-right: 4px solid #391e88;/*矢印の色*/
    height: 20px;
    width: 20px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
	display: flex;
  justify-content: flex-end;
  bottom:0;
  right: 0;
	z-index: 3;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}
/*ワークステキスト部分*/

.index-works_text {
  position: relative;
  margin: 30px 0;
  padding: 30px 0;
  text-align: center;
  
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: #f0f0f0;
    transform: translateY(-50%);
    z-index: -1;
  }
  p {
    font-weight: 400;
    padding: 10px 0;
  }
}
/*ワークスMOREボタン*/
.index-works_btn {
  margin-top: 20px;
  text-align: center;

a {
  position: relative;
  display: inline-block;
  background: linear-gradient(-50deg, #3b0355 0%, #c104eb 80%);
border-radius: 50px;
  color: #fff;
padding: 15px 70px;
letter-spacing: 0.1rem;

&::after {
  content: "";
margin: auto;
position: absolute;
top: 0;
bottom: 0;
right: 20px; /* 要素の右からの距離 */
width: 0;
height: 0;
border-radius: 2px;
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;
border-left: 8px solid #fff;
transition: all 0.3s ease 0s;
}
&:hover:after {
  transform: translateX(0.1875em);
}
}
}
//*セクションカンパニー*//
.index-com {
  margin: 60px 0 120px 0;
  margin-bottom: 20px;
  background-image: url(../img/sp_bg-circle.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.index-com_title {
  margin-bottom: 30px;
}
.index-com_theme {
  display: inline;
  font-size: 3.2rem;
  background: linear-gradient(transparent 70%, #f5f534 30%);
  line-height: 1.5;
}
.index-com_text {
  margin: 30px 0;
  font-weight: 450;
  line-height: 1.5;
}
.index-com_btn {
  margin-top: 30px;
text-align: center;

a {
position: relative;
display: inline-block;
background: linear-gradient(-50deg, #3b0355 0%, #c104eb 80%);
border-radius: 50px;
color: #fff;
padding: 15px 70px;
letter-spacing: 0.1rem;

&::after {
content: "";
margin: auto;
position: absolute;
top: 0;
bottom: 0;
right: 20px; /* 要素の右からの距離 */
width: 0;
height: 0;
border-radius: 2px;
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;
border-left: 8px solid #fff;
transition: all 0.3s ease 0s;
}
&:hover:after {
transform: translateX(0.1875em);
}
}
}
//*セクションリクルート*//
.index-rec {
  text-align: center;
  margin-bottom: 20px;
}
  .index-rec_img {
    background-image: url(../img/recruit.jpg);
    height: 200px;
    background-position: center center;
}
.index-rec_imgtext {
  background-color: #f0f0f0;
}
.index-rec_text {
  padding: 50px 0;
}
.index-rec_sentence {
  font-weight: 450;
}
.index-rec_title {
  margin-bottom: 30px;
}
.index-rec_btn {
  margin-top: 30px;
text-align: center;

a {
position: relative;
display: inline-block;
background: linear-gradient(-50deg, #3b0355 0%, #c104eb 80%);
border-radius: 50px;
color: #fff;
padding: 15px 70px;
letter-spacing: 0.1rem;

&::after {
content: "";
margin: auto;
position: absolute;
top: 0;
bottom: 0;
right: 20px; /* 要素の右からの距離 */
width: 0;
height: 0;
border-radius: 2px;
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;
border-left: 8px solid #fff;
transition: all 0.3s ease 0s;
}
&:hover:after {
transform: translateX(0.1875em);
}
}
}
//*セクションコンタクト*//
.index-contact {
  background-color: #f0f0f0;
  padding: 50px 0;
  text-align: center;
}
.index-contact_text {
  margin: 30px 0;
  font-weight: 450;
}
.index-contact_btn {
  margin-top: 30px;
text-align: center;

a {
position: relative;
display: inline-block;
background: linear-gradient(-50deg, #3b0355 0%, #c104eb 80%);
border-radius: 50px;
color: #fff;
padding: 15px 70px;
letter-spacing: 0.1rem;

&::after {
content: "";
margin: auto;
position: absolute;
top: 0;
bottom: 0;
right: 20px; /* 要素の右からの距離 */
width: 0;
height: 0;
border-radius: 2px;
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;
border-left: 8px solid #fff;
transition: all 0.3s ease 0s;
}
&:hover:after {
transform: translateX(0.1875em);
}
}
}
//*PCブレイクポイント*//
@media screen and (min-width:768px) {
  h2 {
    font-size: 7.0rem;
    text-align: center;
   }
   .main-subtitle {
    text-align: center;
    font-size: 2.5rem;
    }
.main-contactbtn {
  text-align: center;
  margin-top: 60px;
}


//*セクションニュース*//
.index-news_title {
  margin-top: 10px;
}
.index-news {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.index-news_title{
  width: 25%;
}
.index-news_info {
  margin-top: 0;
  width:75%;

  ul li {
    display: flex;
    align-items: center;

  &:nth-child(1){
    margin-top: 0;
  }
}
  ul li p {
    margin: 0 0 0 15px;
  }
}
.index-news_info ul li span {
  display: block;
  margin: 0 10px;
}
//*セクションサービス*//
.index-sv_list ul {
  display: flex;
  justify-content: space-between;

  li {
    width: 31%;
  }
}
//*セクションワークス*//
.index-works_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    width: 60%;
    height: 600px;
    background-color: #f0f0f0;
    z-index: -1;
    }
    }
.slider-item {
  position: relative;
  width: 60%;
  height: auto;
}
.slick-prev {/*戻る矢印の位置と形状*/
  transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
  transform: rotate(45deg);
}

//*ワークステキスト部分*//
.index-works_text {
  width:40%;
  padding: 40px;
  
  &::after {
    display: none;
  }
  p {
    font-weight: 400;
    padding: 10px 0;
  }
}
//*セクションカンパニー*//
.index-com {
  background-image: url(../img/bg-face.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}
//*セクションリクルート*//
.index-rec {
  margin-bottom: 120px;
}
.index-rec_imgtext {
  display: flex;
  flex-direction: row-reverse;
}
.index-rec_img {
  width:55%;
  height: auto;
}
.index-rec_text {
  width:45%;
  padding: 70px 0;
}

}